force-app/main/default/flows/BranchCustomerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>creditEmail</name>
        <label>creditEmail</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ccEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>creditsub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>creditbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>customercurrent</name>
        <label>customercurrent</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailCurrentAcc.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>sub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>currentAccountemail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>faultcredit</name>
        <label>faultcredit</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ccEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>crediterrorsub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>creditbodyfault</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>faultsavingacc</name>
        <label>faultsavingacc</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>savingEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>savingfaultsub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>faultbodysaving</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>savingaccEmail</name>
        <label>savingaccEmail</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>savingEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>savingsub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>savingbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>senderrorcureentacc</name>
        <label>senderrorcureentacc</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailCurrentAcc.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>faultsubcurrt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>faultsuberrorcurr</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>CheckAccountType</name>
        <label>CheckAccountType</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>defaulterror</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentAccountScreen</targetReference>
            </connector>
            <label>CurrentAccount</label>
        </rules>
        <rules>
            <name>SavingAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saving Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SavingaccountScreen</targetReference>
            </connector>
            <label>SavingAccount</label>
        </rules>
        <rules>
            <name>CreditCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditCardScreen</targetReference>
            </connector>
            <label>CreditCard</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountType__c</picklistField>
        <picklistObject>Customer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>branchnames</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Branch__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicebranch1</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>crditchoicekup</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>savingchoicelokup</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>BranchCustomerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BranchCustomerFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCreditCard</name>
        <label>createCreditCard</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>getcreditdetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultcredit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountType__c</field>
            <value>
                <elementReference>Account_Type_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>branchhh.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVV__c</field>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Number__c</field>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>ccEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Month__c</field>
            <value>
                <elementReference>Expiry_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Year__c</field>
            <value>
                <elementReference>Expiry_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>Copy_2_of_getIfscCode.IFSC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Namecc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Manager__c</field>
            <value>
                <elementReference>mangerreigional.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordCreates>
    <recordCreates>
        <name>createCustomerSA</name>
        <label>createCustomerSA</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>getSavingacc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultsavingacc</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AadharNumber__c</field>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountType__c</field>
            <value>
                <elementReference>Account_Type_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>branches.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>savingEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>Copy_1_of_getIfscCode.IFSC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>savingAccName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Manager__c</field>
            <value>
                <elementReference>manager.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordCreates>
    <recordCreates>
        <name>createCustometCA</name>
        <label>createCustometCA</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>getCustomerCurrent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>senderrorcureentacc</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountType__c</field>
            <value>
                <elementReference>Account_Type_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>branch.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>emailCurrentAcc.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>getIfscCode.IFSC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CurrentAccName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Manager__c</field>
            <value>
                <elementReference>regionalmanager.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_getIfscCode</name>
        <label>Copy 1 of getIfscCode</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCustomerSA</targetReference>
        </connector>
        <filters>
            <field>IFSC_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branches.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_getIfscCode</name>
        <label>Copy 2 of getIfscCode</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCreditCard</targetReference>
        </connector>
        <filters>
            <field>IFSC_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branchhh.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <recordLookups>
        <name>getcreditdetails</name>
        <label>getcreditdetails</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creditEmail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branchhh.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <recordLookups>
        <name>getCustomerCurrent</name>
        <label>getCustomerCurrent</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>customercurrent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branch.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <recordLookups>
        <name>getIfscCode</name>
        <label>getIfscCode</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCustometCA</targetReference>
        </connector>
        <filters>
            <field>IFSC_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branch.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <recordLookups>
        <name>getSavingacc</name>
        <label>getSavingacc</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>savingaccEmail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branches.recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
    </recordLookups>
    <screens>
        <name>CreditCardScreen</name>
        <label>CreditCardScreen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_getIfscCode</targetReference>
        </connector>
        <fields>
            <name>Namecc</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ccEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>branchhh</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Branch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Branch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mangerreigional</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Regional_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>RegionalManager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expiry_Month</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiry_Year</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CVV</name>
            <dataType>String</dataType>
            <fieldText>CVV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>currentAccountScreen</name>
        <label>currentAccountScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getIfscCode</targetReference>
        </connector>
        <fields>
            <name>CurrentAccName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>emailCurrentAcc</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>branch</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Branch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Branch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>regionalmanager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Regional_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Regional Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountNumber</name>
            <dataType>String</dataType>
            <fieldText>AccountNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PAN_Number</name>
            <dataType>String</dataType>
            <fieldText>PAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Interest</name>
            <fieldText>&lt;p&gt;Current account 7% interest&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Branchesss</name>
            <choiceReferences>choicebranch1</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Branchesss</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>defaulterror</name>
        <label>defaulterror</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormsgs</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SavingaccountScreen</name>
        <label>SavingaccountScreen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_getIfscCode</targetReference>
        </connector>
        <fields>
            <name>savingAccName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>savingEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>branches</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Branch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Branch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>manager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Regional_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>RegionalManager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Aadhar_Number</name>
            <dataType>String</dataType>
            <fieldText>Aadhar Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>savingInterest</name>
            <fieldText>&lt;p&gt;Saving Account Interest is 8%&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bracnhsaving</name>
            <choiceReferences>savingchoicelokup</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>bracnhsaving</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckAccountType</targetReference>
        </connector>
        <fields>
            <name>Account_Type_Option</name>
            <choiceReferences>AccountTypeOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Account_Type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>creditbody</name>
        <text>&lt;p&gt;Hello{!Namecc}&lt;/p&gt;&lt;p&gt;Congratulations on creating a account with{!getcreditdetails.Account__r.Name}&lt;/p&gt;&lt;p&gt;Here are your account details:&lt;/p&gt;&lt;p&gt;Creadit Card Number:{!Credit_Card_Number}&lt;/p&gt;&lt;p&gt;IFSC Code:{!getcreditdetails.IFSC_Code__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>creditbodyfault</name>
        <text>&lt;p&gt;hello{!mangerreigional.recordName}&lt;/p&gt;&lt;p&gt;we are unable to create a new customer&lt;/p&gt;&lt;p&gt;Name:{!Namecc}&lt;/p&gt;&lt;p&gt;Account Number:{!Credit_Card_Number}&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>crediterrorsub</name>
        <text>&lt;p&gt;Error&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>creditsub</name>
        <text>&lt;p&gt;Congo&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>currentaccerror</name>
        <text>&lt;p&gt;Hello{!regionalmanager.recordName}&lt;/p&gt;&lt;p&gt;We are unable to create a new customer&lt;/p&gt;&lt;p&gt;Here is the name and number&lt;/p&gt;&lt;p&gt;Name:{!CurrentAccName}&lt;/p&gt;&lt;p&gt;Account Number: {!AccountNumber}&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>currentAccountemail</name>
        <text>{Hello {!CurrentAccName}&lt;/p&gt;&lt;p&gt;Congratulations on creating a new account with{!getCustomerCurrent.Account__r.Name}&lt;/p&gt;&lt;p&gt;Here are your account details:&lt;/p&gt;&lt;p&gt;{!AccountNumber} 
{!getCustomerCurrent.IFSC_Code__c}
{!getCustomerCurrent.IFSC_Code__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>faultbodysaving</name>
        <text>&lt;p&gt;hello{!manager.recordName}&lt;/p&gt;&lt;p&gt;we are unable to create a new customer&lt;/p&gt;&lt;p&gt;Name:{!savingAccName}&lt;/p&gt;&lt;p&gt;Account Number:{!Account_Number}&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>faultsubcurrt</name>
        <text>&lt;p&gt;Error&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>faultsuberrorcurr</name>
        <text>&lt;p&gt;Hello{!regionalmanager.recordName}&lt;/p&gt;&lt;p&gt;We are unable to create a new customer&lt;/p&gt;&lt;p&gt;Name:{!CurrentAccName}&lt;/p&gt;&lt;p&gt;Account Number:{!AccountNumber}&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>savingbody</name>
        <text>&lt;p&gt;Hello {!savingAccName}&lt;/p&gt;&lt;p&gt;Congratulations on creating account with{!getSavingacc.Account__r.Name}&lt;/p&gt;&lt;p&gt;Account details&lt;/p&gt;&lt;p&gt;Account Number={!Account_Number}&lt;/p&gt;&lt;p&gt;Aadhar Number={!Aadhar_Number}&lt;/p&gt;&lt;p&gt;IFSC Code={!getSavingacc.IFSC_Code__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>savingfaultsub</name>
        <text>&lt;p&gt;Error&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>savingsub</name>
        <text>&lt;p&gt;Saving Account&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sub</name>
        <text>&lt;p&gt;Congo&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
