force-app/main/default/flows/CustomerBranch1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>checkAccType</name>
        <label>checkAccType</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountTypeOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentAccountScreen</targetReference>
            </connector>
            <label>CurrentAccount</label>
        </rules>
        <rules>
            <name>SavingAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountTypeOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saving Account</stringValue>
                </rightValue>
            </conditions>
            <label>SavingAccount</label>
        </rules>
        <rules>
            <name>CreditCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountTypeOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <label>CreditCard</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountType__c</picklistField>
        <picklistObject>Customer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>currentaccChoiceLookup</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Branch__c</object>
        <outputAssignments>
            <assignToReference>IFSC</assignToReference>
            <field>IFSC_Code__c</field>
        </outputAssignments>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>regManagerCL</name>
        <dataType>String</dataType>
        <displayField>Regional_Manager__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Customer__c</object>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CustomerBranch1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CustomerBranch1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCurrentAcc</name>
        <label>createCurrentAcc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccountType__c</field>
            <value>
                <elementReference>AccountTypeOption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>currentAccChoiceklookup.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>currentEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>IFSC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>NameCurrentAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Manager__c</field>
            <value>
                <elementReference>Regional_Managercl.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordCreates>
    <screens>
        <name>Account_Type_Selection</name>
        <label>Account Type Selection</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkAccType</targetReference>
        </connector>
        <fields>
            <name>AccountTypeOption</name>
            <choiceReferences>accountType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AccountType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>currentAccountScreen</name>
        <label>currentAccountScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createCurrentAcc</targetReference>
        </connector>
        <fields>
            <name>NameCurrentAcc</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>currentEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>currentAccChoiceklookup</name>
            <choiceReferences>currentaccChoiceLookup</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Branch</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Regional_Managercl</name>
            <choiceReferences>regManagerCL</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Regional Manager</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountNumber</name>
            <dataType>Number</dataType>
            <fieldText>AccountNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PAN_Number</name>
            <dataType>Number</dataType>
            <fieldText>PAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>displayInterest</name>
            <fieldText>&lt;p&gt;Interest is 7%&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_Type_Selection</startElementReference>
    <status>Draft</status>
    <variables>
        <name>IFSC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
