force-app/main/default/flows/isPrimaryFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>value</name>
        <label>value</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>fetchContactRecords.Is_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsPrimaryTrue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIsPrimaryCon</name>
        <label>checkIsPrimaryCon</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPrimaryTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fetchContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>value</targetReference>
            </connector>
            <label>IsPrimaryTrue</label>
        </rules>
    </decisions>
    <interviewLabel>isPrimaryFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>isPrimaryFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetchContactRecords</name>
        <label>fetchContactRecords</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIsPrimaryCon</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>relatedRecords</name>
        <label>relatedRecords</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>fetchContactRecords</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>fetchContactRecords</inputReference>
    </recordUpdates>
    <startElementReference>relatedRecords</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.AccountId</elementReference>
        </value>
    </variables>
</Flow>
