force-app/main/default/flows/oppNameWithTestName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignDecisionValues</name>
        <label>assignDecisionValues</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countOpportunityTest</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedOpp</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>oppName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkTestName</name>
        <label>checkTestName</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>testName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>oppName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDecisionValues</targetReference>
            </connector>
            <label>testName</label>
        </rules>
    </decisions>
    <interviewLabel>oppNameWithTestName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>oppNameWithTestName</label>
    <loops>
        <name>relatedOpp</name>
        <label>relatedOpp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>fetchAccountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkTestName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccountWithTestOppName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetchAccountRecords</name>
        <label>fetchAccountRecords</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relatedOpp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Opportunity_Count__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountWithTestOppName</name>
        <label>updateAccountWithTestOppName</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Test_Opportunity_Count__c</field>
            <value>
                <elementReference>countOpportunityTest</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>fetchAccountRecords</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>countOpportunityTest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
